/* <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #ececeaf6;
        }
        h1 {
            text-align: center;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .media-item {
            margin: 15px;
            padding: 10px;
            background: rgb(213, 216, 7);
            border-radius: 8px;
            box-shadow: 0 2px 5px rgb(255, 0, 255);
            width: 300px;
        }
        audio, video {
            width: 100%;
            border-radius: 5px;
        }
    </style> */